@model EasyWord.Models.汉字38万词海

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Bootstrap.cshtml";
}

<h2>Details</h2>

<div>
    <h4>汉字38万词海</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Words)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Words)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.解释)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.解释)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WordsReverse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WordsReverse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.押韵)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.押韵)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.押韵字使用频率)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.押韵字使用频率)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
