@model IEnumerable<EasyWord.Models.汉字38万词海>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Bootstrap.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Words)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.解释)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WordsReverse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.押韵)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.押韵字使用频率)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Words)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.解释)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordsReverse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.押韵)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.押韵字使用频率)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
