@model IEnumerable<EasyWord.Models.系统公告>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.公告标题)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.标题色彩)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.公告内容)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.发布时间)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.发布人编号)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.发布人姓名)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.公告标题)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.标题色彩)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.公告内容)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.发布时间)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.发布人编号)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.发布人姓名)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.公告编号">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.公告编号">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.公告编号">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
